<div class="form-group row">
	<label v-bind:for="'field_' + field.name" class="col-sm-4 col-form-label">{{$polyglot.t(field.entityName + '.' + field.name)}}</label>
	<div class="col">
		<input readonly v-if="field.type == 'number' || field.type == 'text'" v-bind:id="'field_' + field.name" class="form-control-plaintext" v-bind:value="value"></input>
		<input readonly v-if="field.type == 'boolean'" v-bind:id="'field_' + field.name" class="form-control-plaintext" v-bind:value="$polyglot.t(value ? 'Boolean.YES' : 'Boolean.NO')"></input>
	</div>
</div>