<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous"/>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
	<div class="container">
		<div class="card card-body mt-5 mx-auto card-login">
			<form th:action="@{/login}" method="POST" class="form-login " accept-charset="ISO-8859-1">
				<h1 class="form-login-heading"></h1>
				<div id="errormessagecontainer" class="text-danger" th:if="${!#strings.isEmpty(authenticationErrorMessage)}" th:text="${authenticationErrorMessage}"></div>
				<div class="form-group">
					<label for="username" class="sr-only">Login</label>
					<input type="text" id="username" name="username" class="form-control" placeholder="Login" autofocus />
				</div>
				<div class="form-group">
					<label for="password" class="sr-only">Senha</label>
					<input type="password" name="password" class="form-control" placeholder="Senha" />
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			</form>
		</div>
		
		<div class="card card-body mt-5 mx-auto card-login" th:if="${!registeredProviderIds.empty}">
			<form th:action="@{/auth/facebook}" method="POST" class="mt-2 mb-2" th:if="${registeredProviderIds.contains('facebook')}">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input type="hidden" name="scope" value="email,public_profile" />
				<button class="btn btn-lg btn-primary btn-block" type="submit"><i class="ion-social-facebook mr-3"></i> Login with Facebook</button>
			</form>
			<form th:action="@{/auth/azure-ad}" method="POST" class="mt-2 mb-2" th:if="${registeredProviderIds.contains('azure-ad')}">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input type="hidden" name="scope" value="User.Read" />
				<button class="btn btn-lg btn-primary btn-block" type="submit"><i class="ion-social-windows mr-3"></i> Login with Office 365</button>
			</form>

		</div>
		

	</div>
	
</body>
</html>