body {
	background-color: #eee;
}

.card-login {
    max-width: 360px;
    box-shadow: rgba(0,0,0,0.3) 0px 2px 2px;
}

.form-login-heading {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
