body {
	background-color: #eee;
}



.form-signin .logo {
	margin-bottom: 50px;
	max-width: 80%;
	display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-signin-heading {
	text-align: center;
	margin-bottom: 100px;
}
