<div>
	<h1 v-if="entity.id == null">Novo</h1>
	<h1 v-if="entity.id != null">Editar</h1>
	<form v-customvalidation @validsubmit="save(entity)">
		<div class="form-group row">
			<label for="field_name" class="col-sm-2 col-form-label">Nome </label>
			<div class="col">
				<input type="text" id="field_name" v-model="entity.name" class="form-control" placeholder="Nome"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>

		<div class="form-group row">
			<label for="clientId" class="col-sm-2 col-form-label">Client Id</label>
			<div class="col">
				<input type="text" id="clientSecret" v-model="entity.clientId" class="form-control" placeholder="Nome"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>

		<div class="form-group row">
			<label for="clientSecret" class="col-sm-2 col-form-label">Client Secret</label>
			<div class="col">
				<input type="text" id="clientSecret" v-model="entity.clientSecret" class="form-control" placeholder="Nome"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>

		<div class="form-group row">
			<label for="field_authorized_grant_types" class="col-sm-2 col-form-label">authorized_grant_types</label>
			<div class="col">
				<input type="text" id="field_authorized_grant_types" v-model="entity.authorizedGrantTypes" class="form-control" placeholder="Nome"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>

		<div class="form-group row">
			<label for="authorities" class="col-sm-2 col-form-label">authorities</label>
			<div class="col">
				<input type="text" id="authorities" v-model="entity.authorities" class="form-control" placeholder="authorities"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>

		<div class="form-group row">
			<label for="access_token_validity" class="col-sm-2 col-form-label">access_token_validity</label>
			<div class="col">
				<input type="number" id="access_token_validity" v-model="entity.accessTokenValidity" class="form-control" placeholder="access_token_validity"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>

		<div class="form-group row">
			<label for="refreshTokenValidity" class="col-sm-2 col-form-label">refreshTokenValidity</label>
			<div class="col">
				<input type="number" id="refreshTokenValidity" v-model="entity.refreshTokenValidity" class="form-control" placeholder="refreshTokenValidity"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>


		 <div class="form-check">
		    <label class="form-check-label">
		      <input type="checkbox" class="form-check-input" v-model="entity.autoApprove">
		      Auto Approve
		    </label>
		  </div>

		<div class="form-group row">
			<label for="scope" class="col-sm-2 col-form-label">scope</label>
			<div class="col">
				<input type="text" id="scope" v-model="entity.scope" class="form-control" placeholder="scope"
					required="true"
				/>
			</div>
			<div class="invalid-feedback">Obrigatório</div>
		</div>


		<button type="submit" class="btn btn-primary">Salvar</button>
		<button type="button" class="btn btn-secondary" @click="cancel()">Cancelar</button>
	</form>
	<small class="text-muted" v-if="entity.id != null">Id: {{entity.id}}</small>
</div>